---
import "../styles/global.css";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>My Homepage</title>
	</head>
	<body>
		<div class="navbar bg-base-100 shadow-lg mb-4">
			<div class="flex-1">
				<a class="btn btn-ghost text-xl">Home</a>
			</div>
			<div class="flex-none">
				<ThemeToggle />
			</div>
		</div>
	</body>
	<slot />
</html>
